@import "settings";
@import "../../node_modules/foundation/scss/foundation";

body {
  padding-top: $global-spacer;
}

.container {
  position: relative;
  transition: .5s;
  top: 50%;

  &.middle {
    transform: translateY(50%);
  }

  &.top {
    transform: translateY(0%);
  }
}